@import '../sharedStyles.scss';

.Button {
  font-size: 14px;
  border: none;
  background-color: $lightGray;
  border-radius: 10px;
  height: 30px;
  color: white;
  &:focus{
    outline: none;
  }
}
