@import '../sharedStyles.scss';

.Textarea{
  height: 100px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid $lightGray;
  margin-bottom: $pad;
  padding: $pad;
  resize: none;
  font-size: 14px;

  &:focus{
    outline: none;
  }
}
