@import '../sharedStyles.scss';

.Section{
  margin: 25px auto ;
  max-width: 800px;
  @include respond-to($phone){
    margin: 0 $doublePad;
  }
  &_title {
    margin: $pad 0;
    font-weight: 300;
    font-size: 50px;
  }
}